<h1>{{thread.title}}</h1>
<p>{{thread.text}}</p>
<p><a href="{% url 'home' %}"><- back to thread list</a></p>
<form method="post" enctype="multipart/form-data" action="{% url 'thread' thread.id %}" >
    {{post_form.as_p}}
    {%csrf_token%}
    <input type="submit" value="send">
</form>
{% for post in page %}
{% if not post.post_set.all  %}
<p>#{{post.id}}</p>
<p> {{post.text}}</p>
{% endif %}
{% if post.post_set %}
{% for answer in post.post_set.all %}
<p>#{{answer.id}}, answer to #{{post.id}}</p>
<p>{{post.text}}</p>
{%endfor%}
{% endif %}
{% if post.post_image %}
<img src="{{post.post_image.url}}">
{%endif%}
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>