<h1>{{thread.title}}</h1>
<p>{{thread.text}}</p>
<p><a href="{% url 'home' %}"><- back to thread list</a></p>
<form method="post" enctype="multipart/form-data" action="{% url 'thread' thread.id %}" >
    {{post_form.as_p}}
    {%csrf_token%}
    <input type="submit" value="send">
</form>
{% for post in thread.post_set.all %}
{% if not post.post_set.all  %}
<p>#{{post.id}}</p>
<p> {{post.text}}</p>
{% endif %}
{% if post.post_set %}
{% for answer in post.post_set.all %}
<p>#{{answer.id}}, answer to #{{post.id}}</p>
<p>{{post.text}}</p>
{%endfor%}
{% endif %}
{% if post.post_image %}
<img src="{{post.post_image.url}}">
{%endif%}
{% endfor %}